div#bodyDiv{
    background-color: orange;
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

#logo {
    border-radius: 50%;
    padding-right: 10px;
    
}
#logo img{
    border-radius: 50%;
    background: white;
    border: 1px black solid;
    
}

header{
    border:1px solid white;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-direction: row;
    padding:5px;
    background:rgb(36, 80, 99);
}

aside#top_menu{
    background:rgb(105, 182, 233);
    display: flex;
    justify-content: right;
    align-items: right;
}

aside#top_menu div ul li{
    padding: 10px 10px; 
    text-align: center;
}

aside#top_menu ul li{
    width:100px;
}
.banner{
    align-items: right;
    display: flex;
    flex-direction: column; 
    flex-basis: 100%;
}

.banner h1{
    background:rgb(171, 53, 3);
    
}

.menu_item{
    display:inline-flex;
    border:1px solid white; 
    background:brown; 
    color:bisque;
    padding:10px 10px;
    border-radius: 10%;
    list-style: none;
}



table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 15%;
    
    
}

th:nth-child(odd){
    background-color: brown;
    color: white;
}

tr:nth-child(even){
    background-color: bisque;
}